<div class="jumbotron">
    <h1>Evernote &hearts; Markdown</h1>
    <p>Edit your Evernote notes using the Markdown syntax.</p>
    <p>
        <a class="btn btn-lg btn-success" href="@Url.Action("Login")">Login with Evernote</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>A perfect combination</h2>
        <p>Evernote is awesome, Markdown is wonderful. Together they make a perfect pair to quickly take notes without any visual formatting clutter, but that still look good if necessary.</p>
        <p><a class="btn btn-default" href="http://en.wikipedia.org/wiki/Markdown">Learn about MarkDown &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Works on every device</h2>
        <p>Built from ground up to work on every one of your devices, from desktop to tablet to smartphone.</p>
        <p>Also, a nifty auto-save feature makes sure that not a single keystroke of yours will ever get lost.</p>
    </div>
    <div class="col-md-4">
        <h2>Open Source</h2>
        <p>Everything you see here is built and open sourced (MIT license) by Hannes Sachsenhofer with all the code available on GitHub. If you like, fork it, change it, host it yourself.</p>
        <p><a class="btn btn-default" href="https://github.com/saxx/EverMark">Go to GitHub Repository &raquo;</a></p>
    </div>
</div>
