<div class="jumbotron">
    <h1>Evernote &hearts; Markdown</h1>
    <p>Quickly edit your Evernote notes using Markdown syntax. Nothing else.</p>
    <p>
        <a class="btn btn-lg btn-primary" href="@Url.Action("Login")">Login with Evernote</a>
    </p>
</div>
