@using System.Web.Optimization
@model EvernoteMvcExample.ViewModels.Editor.IndexViewModel

@{
    ViewBag.Title = @Model.Title;
}

<style type="text/css">
    .container { max-width: 100%; margin-left: 0; margin-right: 15px; padding-left: 0; padding-right: 0; }
    .row { margin-top: -8px; }
        .row .row { margin: 0; }
        .row:last-child { margin-top: 1px; }
    .col-lg-6, .col-lg-12 { padding-right: 0; }

    .navbar-nav { margin: 0; }
    .navbar-header { padding-left: 10px; }
    .navbar-collapse { padding-right: 0; }
    .navbar li:last-child a { padding-right: 0; }

    #markdownInput { width: 100%; white-space: normal; font-family: monospace; font-size: 0.8em; background-color: rgb(30,30,30); color: rgb(220, 220,220); border: 0; padding: 10px; }
    #markdownRender { padding: 10px; overflow: auto; }
</style>

@using (Html.BeginForm())
{
    <div class="row" style="margin-top: -8px;">
        <div class="col-lg-6">
            <textarea name="content" id="markdownInput">@Model.Content</textarea>
            <div class="row">
                <div class="col-lg-12" style="text-align: right;">
                    <input type="submit" value="Save to Evernote" id="submitButton" class="btn btn-success" />
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div id="markdownRender"></div>
            <div class="row">
                <div class="col-lg-12" style="text-align: center;">
                    @Model.NotebookAndTitle
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    @Scripts.Render("~/bundles/markdown")

    <script>
        $(document).ready(function () {
            $("#markdownInput").keyup(function () {
                updateMarkdown();
            });

            resizeDivs();
            updateMarkdown();

            $(window).resize(function () {
                resizeDivs();
            });
        });

        function resizeDivs() {
            var height = $(this).height();
            height = height - 88;
            $("#markdownRender").css("height", height + "px");
            $("#markdownInput").css("height", height + "px");
        }

        function updateMarkdown() {
            var converter = Markdown.getSanitizingConverter();
            var html = converter.makeHtml($("#markdownInput").val());
            $("#markdownRender").html(html);
        }
    </script>
}
